@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.App{
    min-height : 100vh;
    display: flex;
    background-image: url("./background.avif");
    background-size: cover;
    background-position: center;
}